.main-banner {
    background-image: url('../images/main-banner.png');
    aspect-ratio: 1440/768;
    padding: 190px 0;
}

.main-banner__wrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.main-banner__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.main-banner__content h1 {
    font-size: 64px;
    font-weight: 700;
}
.main-banner__content h3 {
    font-size: 36px;
    font-weight: 400;
}
.main-banner__content button {
    background: #FFC957;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 80px;
    border: none;
}

.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-banner__social-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
}




.services__title {
    margin-top: 62px;
    position: relative;
}

.services__title h2 {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 8px;
    background-color: white;
}

.services__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 62px 0;
}

.services__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    height: 100%;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
    padding: 48px 24px 32px 24px;
}

.services__card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services__card-text h4 {
    font-size: 18px;
    font-weight: 400;
}

.services__card-text p {
    font-size: 16px;
    font-weight: 400;
    color: #5E5E5E;
}

.services__card-text h4, 
.services__card-text p {
    text-align: center;
}

.services__card-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works__title {
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
}

.works__title h2 {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 8px;
    background-color: white;
}

.works__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 34px;
    row-gap: 30px;
}

.works__wrapper div {
    background-size: cover;
    background-position: center;
}

.works__block-1 {
    background-image: url('../images/service-block-1.jpg');
}

.works__block-2 {
    background-image: url('../images/service-block-2.jpg');
}

.works__block-3 {
    background-image: url('../images/service-block-3.jpg');
}

.works__block-4 {
    background-image: url('../images/service-block-1.jpg');
}

.works__block-5 {
    background-image: url('../images/service-block-2.jpg');
}

.works__block-6 {
    background-image: url('../images/service-block-3.jpg');
}